body{
  font-size: 12px;
  font-family: 'Raleway',sans-serif;
}

#header {
  max-width: 1000px;
  padding: 46px 0 26px 0;
  margin: 0 auto 50px auto;
  border-bottom: solid 1px #c3c3c3;
}

.site-title {
  width: 109px;
  line-height: 1px;
  margin: 0 auto 36px auto;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .menu, nav .login {
  display: flex;
  align-items: center;
}

nav .menu li {
  margin-right: 14px;
}

li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

#item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

img {
  max-width: 100%;
}

#footer {
  padding: 10px 0;
}

#footer .copyright {
  font-size: 10px;
  text-align: center;
}