body{
  font-size: 12px;
  font-family: 'Raleway',sans-serif;
}

#header {
  max-width: 1000px;
  padding: 46px 0 26px 0;
  margin: 0 auto 50px auto;
  border-bottom: solid 1px #c3c3c3;
}

.site-title {
  width: 109px;
  line-height: 1px;
  margin: 0 auto 36px auto;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .menu, nav .login {
  display: flex;
  align-items: center;
}

nav .menu li {
  margin-right: 14px;
}

nav .login li {
  margin-left: 14px;
}

li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

#item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

#item .item-image {
  max-width: 400px;
  flex-shrink: 0;
  margin-right: 60px;
}

img {
  max-width: 100%;
}

#item .item-info .item-title {
  height: 60px;
  display: flex;
  align-items: center;
  border-top: solid 1px #c3c3c3;
  border-bottom: solid 1px #c3c3c3;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

#item .item-info p {
    margin-bottom: 30px;
    line-height: 22px;
}

#footer {
  padding: 10px 0;
}

#footer .copyright {
  font-size: 10px;
  text-align: center;
}

#item .item-info .order-table {
  width: 100%;
  margin-bottom: 20px;
}

#item .item-info .order-table th, 
#item .item-info .order-table td {
  font-weight: normal;
  padding: 10px;
  border-right: solid 1px #c3c3c3;
  text-align: center;
}

#item .item-info .order-table td {
  border-top: solid 1px #c3c3c3;
}

#item .item-info .cart-btn {
  width: 100%;
  background-color: #4B4B4B;
  color: #fff;
  display: block;
  line-height: 1;
  padding: 18px 0;
  margin-bottom: 30px;
  text-align: center;
}

#item .item-info .size-table {
  width: 100%;
  border-top: solid 1px #c3c3c3;
  border-left: solid 1px #c3c3c3;
}

#item .item-info .size-table th, 
#item .item-info .size-table td {
  font-weight: normal;
  padding: 10px;
  border-right: solid 1px #c3c3c3;
  border-bottom: solid 1px #c3c3c3;
  text-align: center;
}